body{
  background-color: lemonchiffon;
  font-family:sans-serif;
  margin: 0;
  padding: 20px;
}

h1{
  color: tomato;
  font-size: 32px;
}

p{
  color: #555;
  line-height: 1.8;
}
.profile-img{
  width: 300px;
  transform: translateX(-200px);
}
